# Conjuntos de datos de la alcaldia

In [48]:
from unidecode import unidecode
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

**TODO: Revisar los duplicados luego de terminar la limpieza de los datos.**

## Accidentalidad 2022

Ignorar la Hoja2 y Hoja3 del documento, solo incluir la hoja que tiene por nombre 2022.

In [49]:
accidentalidad_2022 = pd.read_excel("../data/alcaldia/ACCIDENTALIDAD-2022.xlsx", sheet_name="2022")
accidentalidad_2022.head(3)

,Solo daños,Herido,Muerto,Dirección,D.D,M.M,A.A,Choque,Atropello,Volcamiento,...,Masculino,Femenino,-18,18-30,31-60,60,Vehículo,Público,Particular,Oficial
0,NaN,1.0,NaN,Vía La Uribe-Calarcá km 84+860,3,1,2022,1.0,NaN,NaN,...,2.0,NaN,NaN,NaN,1.0,NaN,MOTOCICLETA-CAMIÓN,1.0,1,NaN
1,NaN,1.0,NaN,Vía La Uribe-Calarcá km 78+800,10,1,2022,NaN,1.0,NaN,...,2.0,NaN,NaN,NaN,1.0,1.0,BUS,1.0,NaN,NaN
2,NaN,1.0,NaN,Vía La Uribe-Calarcá km 68+100,12,1,2022,1.0,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,1.0,AUTOMÓVIL-AUTOMÓVIL,1.0,X,NaN

Se observa en la siguiente celda la gran cantidad de datos nulos en el conjunto de datos, sin embargo, esto es debido a que las columnas se llenan con 1 si aplica o se deja vacia.

In [50]:
accidentalidad_2022.isna().sum()

Solo daños           166
Herido                60
Muerto               201
Dirección              2
D.D                    0
M.M                    0
A.A                    0
Choque                52
Atropello            184
Volcamiento          200
caída de ocupante    211
Otro                 209
Rural                128
Urbana                86
Masculino              9
Femenino             158
-18                  207
18-30                118
31-60                 60
60                   166
Vehículo               2
Público              154
Particular            22
Oficial              208
dtype: int64

In [51]:
nan_cols = list(set(accidentalidad_2022.columns) - set(['D.D', 'M.M', 'A.A', 'Dirección', 'Vehículo']))

for col in nan_cols:
    accidentalidad_2022[nan_cols] = accidentalidad_2022[nan_cols].fillna(0)

accidentalidad_2022.head(5)

,Solo daños,Herido,Muerto,Dirección,D.D,M.M,A.A,Choque,Atropello,Volcamiento,...,Masculino,Femenino,-18,18-30,31-60,60,Vehículo,Público,Particular,Oficial
0,0.0,1.0,0,Vía La Uribe-Calarcá km 84+860,3,1,2022,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,0.0,MOTOCICLETA-CAMIÓN,1.0,1,0.0
1,0.0,1.0,0,Vía La Uribe-Calarcá km 78+800,10,1,2022,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,BUS,1.0,0,0.0
2,0.0,1.0,0,Vía La Uribe-Calarcá km 68+100,12,1,2022,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,AUTOMÓVIL-AUTOMÓVIL,1.0,X,0.0
3,0.0,1.0,0,Av. Colón frente al # 21-175,12,1,2022,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,MOTOCICLETA-AUTOMÓVIL,0.0,2,0.0
4,0.0,1.0,0,Calle 39 #27-36,13,1,2022,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,MOTOCICLETA,0.0,1,0.0

In [52]:
accidentalidad_2022.isna().sum()

Solo daños           0
Herido               0
Muerto               0
Dirección            0
D.D                  0
M.M                  0
A.A                  0
Choque               0
Atropello            0
Volcamiento          0
caída de ocupante    0
Otro                 0
Rural                0
Urbana               0
Masculino            0
Femenino             0
-18                  0
18-30                0
31-60                0
60                   0
Vehículo             2
Público              0
Particular           0
Oficial              0
dtype: int64

Eliminar fila con valores nulos en la columna del tipo de vehículo.

In [53]:
accidentalidad_2022[accidentalidad_2022['Vehículo'].isna()]

,Solo daños,Herido,Muerto,Dirección,D.D,M.M,A.A,Choque,Atropello,Volcamiento,...,Masculino,Femenino,-18,18-30,31-60,60,Vehículo,Público,Particular,Oficial
17,0.0,1.0,0,Cra 25 entre Calles 46 y 47,5,2,2022,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0,0.0
175,0.0,0.0,1,0,5,10,2022,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0,0.0

In [54]:
accidentalidad_2022 = accidentalidad_2022.dropna(subset=['Vehículo'])

In [55]:
accidentalidad_2022.isna().sum()['Vehículo']

0

Buscar errores en datos de tipo string.

In [56]:
print(accidentalidad_2022['Muerto'].unique()) # sustituir el valor ' ' por 0
print(accidentalidad_2022['Vehículo'].unique()) # estandarizar datos para que se incluya el vehiculo involucrado
print(accidentalidad_2022['Particular'].unique()) # sustituir valor 'X' por 0

[0 ' ' 1]
['MOTOCICLETA-CAMIÓN' 'BUS' 'AUTOMÓVIL-AUTOMÓVIL' 'MOTOCICLETA-AUTOMÓVIL'
 'MOTOCICLETA' 'CAMPERO-MOTOCICLETA' 'BUS-CAMIÓN ' 'CAMPERO'
 'AUTOMÓVIL-MOTOCICLETA' 'AUTOMÓVIL' 'VOLQUETA-TRACTOCAMIÓN'
 'MOTOCICLETA-BICICLETA' 'MOTOCICLETA ' 'CAMIONETA-MOTOCICLETA'
 'MOTOCICLETA-MOTOCICLETA' 'BUSETA-AUTOMÓVIL' 'AUTOMÓVIL-CAMPERO'
 'CAMIONETA-AUTOMÓVIL' 'CAMIÓN-CAMIONETA' 'CAMION-AUTOMOVIL-MOTO'
 'CAMIÓN ' 'AUTOMÓVIL ' 'AUTOMÓVIL-CAMIONETA' 'VOLQUETA-Campero'
 'AUTOMÓVIL-TRACTOCAMIÓN' 'CAMIONETA' 'TRACTOCAMIÓN-TRACTOCAMIÓN'
 'AUTOMÓVIL-VOLQUETA' 'TRACTOCAMIÓN-MOTOCICLETA' 'CAMIÓN-AUTOMÓVIL'
 'CAMIONETA-CAMIONETA' 'CAMIÓN-MOTOCICLETA' 'CAMIÓN-BICICLETA'
 'MOTOCILCETA-PEATON ' 'BICICLETA-MOTOCICLETA' 'BUS-AUTOMÓVIL'
 'CAMIONETA-CAMPERO' 'MOTOCILCLETA' 'MOTOCILCETA' 'CAMIONETA-CAMIÓN'
 'MOTOCICLETA-MICROBUS' 'BUS-MOTOCICLETA' 'CAMIONETA-TRACTOCAMIÓN'
 'MOTOCICLETA-BUS' 'BICICLETA' 'PEATÓN ' 'CAMIONETA '
 'AUTOMOVIL-VOLQUETA-VOLQUETA' 'CAMPERO-BICICLETA' 'MICROBUS-MOTOCICLETA'
 'TRACTOCAMIÓN-BICICLETA' 'MOTOCICLETA-TRACTOCAMIÓN' 'AUTOMÓVIL-BICICLETA'
 'MOTOCICLETA-CAMIONETA' 'CAMIÓN-MOTOCICLETA ' 'CAMIONETA-BUS'
 'AUTOMOVIL-MOTOCICLETA' 'MICROBUS-CAMIONETA']
[1 0 'X' 2 3]

Filtrar los registros en los cuales se encuentran los problemas antes mencionados.

In [57]:
accidentalidad_2022[accidentalidad_2022['Muerto'] == ' ']

,Solo daños,Herido,Muerto,Dirección,D.D,M.M,A.A,Choque,Atropello,Volcamiento,...,Masculino,Femenino,-18,18-30,31-60,60,Vehículo,Público,Particular,Oficial
54,0.0,1.0,,Barrio Barsovia Mz B #1,11,4,2022,0.0,1.0,0.0,...,2.0,0.0,0.0,1.0,1.0,0.0,CAMIONETA-AUTOMÓVIL,0.0,2,0.0

In [58]:
accidentalidad_2022[accidentalidad_2022['Particular'] == 'X']

,Solo daños,Herido,Muerto,Dirección,D.D,M.M,A.A,Choque,Atropello,Volcamiento,...,Masculino,Femenino,-18,18-30,31-60,60,Vehículo,Público,Particular,Oficial
2,0.0,1.0,0,Vía La Uribe-Calarcá km 68+100,12,1,2022,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,AUTOMÓVIL-AUTOMÓVIL,1.0,X,0.0

Solucionar los problemas en los registros y asignarles el valor de 0.

In [59]:
accidentalidad_2022.loc[accidentalidad_2022['Particular'] == 'X', 'Particular'] = 0
accidentalidad_2022.loc[accidentalidad_2022['Muerto'] == ' ', 'Muerto'] = 0

In [60]:
accidentalidad_2022['Muerto'].unique(), accidentalidad_2022['Particular'].unique()

(array([0, 1], dtype=object), array([1, 0, 2, 3], dtype=object))

Solucionar problemas con el tipo de Vehículo. Se prefiere dejar los vehiculos que fueron involucrados en el accidente y solucionar errores ortograficos. Hay un registro con 'nan', este se eliminará debido a que no se cuenta con información al respecto.

In [61]:
def unique_values_for_vehicles(dataset: pd.DataFrame, column: str):
    arr = list(map(lambda x: unidecode(str(x).lower()).split('-'), list(dataset[column].unique())))

    unique_vehicles = []
    for x in arr:
        if isinstance(x, list):
            unique_vehicles.extend(x)
        else:
            unique_vehicles.append(x)

    return list(set(unique_vehicles))

unique_values_for_vehicles(accidentalidad_2022, 'Vehículo')

['volqueta',
 'camion',
 'automovil ',
 'camioneta ',
 'buseta',
 'motocicleta',
 'motocicleta ',
 'moto',
 'microbus',
 'campero',
 'tractocamion',
 'motocilcleta',
 'bus',
 'automovil',
 'motocilceta',
 'bicicleta',
 'camioneta',
 'camion ',
 'peaton ']

Unificar nombres de vehiculos que significan lo mismo. Se debe reemplazar el termino 'motocicleta', 'motocilceta' (error), 'motocilcleta' y 'moto' a uno mismo. Los terminos de 'bus', 'buseta' y 'microbus' están bien.

In [66]:
accidentalidad_2022['Vehículo'] = accidentalidad_2022['Vehículo'].str.strip().str.lower().apply(unidecode)

accidentalidad_2022['Vehículo'] = accidentalidad_2022['Vehículo'].str.replace('motocilcleta', 'moto')
accidentalidad_2022['Vehículo'] = accidentalidad_2022['Vehículo'].str.replace('motocilceta', 'moto')
accidentalidad_2022['Vehículo'] = accidentalidad_2022['Vehículo'].str.replace('motocicleta', 'moto')

unique_values_for_vehicles(accidentalidad_2022, 'Vehículo')

['bus',
 'automovil',
 'volqueta',
 'bicicleta',
 'camion',
 'camioneta',
 'buseta',
 'moto',
 'microbus',
 'campero',
 'tractocamion',
 'peaton']

Una opción es categorizar los vehiculos como por ejempo: 2 ruedas, 4 ruedas, mas de 4 ruedas y vehiculos pesados.

In [130]:
vehiculos_reemplazo = {k:"-".join(sorted(k.split('-'))) for k in list(accidentalidad_2022['Vehiculo'].unique())}
list(vehiculos_reemplazo.items())[3]

('moto-automovil', 'automovil-moto')

Estandarizar el formato de las direcciones y revisar cuantas de estas tienen la información de vía y "km".

In [103]:
direcciones = accidentalidad_2022[
    (accidentalidad_2022['Direccion'].str.contains('Vía')) \
    & (accidentalidad_2022['Direccion'].str.contains('Vía') != float('nan'))
][['Direccion']]

direcciones

                           Direccion
0    Vía La Uribe-Calarcá km 84+860
1     Vía La Uribe-Calarcá km 78+800
2     Vía La Uribe-Calarcá km 68+100
5      Vía Calarcá-Circasia km 1+500
6     Vía La Uribe-Calarcá km 80+472
..                               ...
203    Vía Calarcá-Circasia km 3+100
204  Vía La Uribe-Calarcá Km 74+400
205    Vía La Uribe-Calarcá km 83+40
207     Vía Armenia-Ibagué km 3+300
213      Vía La Y Barcelona km 4+100

[128 rows x 1 columns]

In [113]:
print(direcciones['Direccion'].apply(len).min())

direcciones[direcciones['Direccion'].apply(len) < 23]

16

                  Direccion
28   Vía Circasia Km 1+800
125        Vía La Virginia

In [115]:
direcciones['Direccion'].str.split(' ')[1:].apply(
    lambda x: x[2] if "La" in x else x[1]
)

1         Uribe-Calarcá
2         Uribe-Calarcá
5      Calarcá-Circasia
6         Uribe-Calarcá
8        Armenia-Ibagué
             ...
203    Calarcá-Circasia
204       Uribe-Calarcá
205       Uribe-Calarcá
207      Armenia-Ibagué
213                   Y
Name: Direccion, Length: 127, dtype: object

**Importante.** Tal parece que lo ideal es mostrar los datos de dos maneras, los tramos viales más criticos y un mapa con puntos criticos por ubicaciones.

In [384]:
accidentalidad_2022.shape[0] - 128 # posibles direcciones sin Vía

84

Convertir los tipos de datos para que sean `int32`.

In [69]:
to_int = list(set(accidentalidad_2022.columns)- (set(['Dirección ', 'Vehículo'])))

for col in to_int:
    accidentalidad_2022[col] = accidentalidad_2022[col].astype(int)

accidentalidad_2022.dtypes

Solo daños            int32
Herido                int32
Muerto                int32
Dirección            object
D.D                   int32
M.M                   int32
A.A                   int32
Choque                int32
Atropello             int32
Volcamiento           int32
caída de ocupante     int32
Otro                  int32
Rural                 int32
Urbana                int32
Masculino             int32
Femenino              int32
-18                   int32
18-30                 int32
31-60                 int32
60                    int32
Vehículo             object
Público               int32
Particular            int32
Oficial               int32
dtype: object

In [73]:
accidentalidad_2022.rename(columns={'D.D': 'Dia', 'M.M': 'Mes', 'A.A': 'Año'}, inplace=True)
accidentalidad_2022.columns = list(map(lambda x: unidecode(str(x)).capitalize().strip(), accidentalidad_2022.columns))

accidentalidad_2022.columns

Index(['Solo danos', 'Herido', 'Muerto', 'Direccion', 'Dia', 'Mes', 'Ano',
       'Choque', 'Atropello', 'Volcamiento', 'Caida de ocupante', 'Otro',
       'Rural', 'Urbana', 'Masculino', 'Femenino', '-18', '18-30', '31-60',
       '60', 'Vehiculo', 'Publico', 'Particular', 'Oficial'],
      dtype='object')

## Accidentalidad 2021 y 2023

Última fila de los datos de accidentalidad del año 2021 son sumatorias sobre toda la columna, al igual que columna 1 fila 258 y columna 2 fila 257. Se eliminará esta última fila para evitar errores y se agregará 0 en las ubicaciones ya mencionadas.

En el conjunto de datos de accidentalidad del año 2023 se tienen registros que repiten las tablas.

In [306]:
accidentalidad_2021 = pd.read_excel('../data/alcaldia/Accidentalidad-2021-2023.xlsx', sheet_name='2021')
accidentalidad_2023 = pd.read_excel('../data/alcaldia/Accidentalidad-2021-2023.xlsx', sheet_name='2023')

accidentalidad_2021 = accidentalidad_2021[accidentalidad_2021.columns[:25]]

Corregir las columnas de los datos de accidentalidad del año 2021.

In [307]:
accidentalidad_2021.rename(columns={
    "Unnamed: 3": "Direccion",
    " ": "18-30", "30-60": "31-60",
    "Unnamed: 20": "Vehiculo",
    'D.D': 'Dia', 'M.M': 'Mes',
    'A.A': 'Año'
}, inplace=True)

accidentalidad_2021.columns = list(map(lambda x: unidecode(str(x).strip().capitalize()), accidentalidad_2021.columns))

In [308]:
accidentalidad_2021.columns

Index(['Solo danos', 'Herido', 'Muerto', 'Direccion', 'Dia', 'Mes', 'Ano',
       'Choque', 'Atropello', 'Volcamiento', 'Caida de ocupante', 'Otro',
       'Rural', 'Urbana', 'Masculino', 'Femenino', '-18', '18-30', '31-60',
       '60', 'Vehiculo', 'Publico', 'Particular', 'Oficial', 'Diplomatico'],
      dtype='object')

In [309]:
accidentalidad_2023.rename(columns={
    'Unnamed: 6': 'Año', 
    'D.D': 'Día', 
    'M.M': 'Mes'
}, inplace=True)

accidentalidad_2023.columns = list(map(lambda x: unidecode(str(x).strip().capitalize()), accidentalidad_2023.columns))

In [310]:
accidentalidad_2023.columns

Index(['Solo danos', 'Herido', 'Muerto', 'Direccion', 'Dia', 'Mes', 'Ano',
       'Choque', 'Atropello', 'Volcamiento', 'Caida de ocupante', 'Otro',
       'Rural', 'Urbana', 'Masculino', 'Femenino', '-18', '18-30', '31-60',
       '60', 'Vehiculo', 'Publico', 'Particular', 'Oficial', 'Diplomatico'],
      dtype='object')

Revisar valores nulos.

In [311]:
accidentalidad_2021.isna().sum()

Solo danos           143
Herido               129
Muerto               246
Direccion              1
Dia                    1
Mes                    1
Ano                    1
Choque                42
Atropello            242
Volcamiento          243
Caida de ocupante    259
Otro                 257
Rural                124
Urbana               137
Masculino             15
Femenino             207
-18                  254
18-30                141
31-60                 69
60                   210
Vehiculo               2
Publico              166
Particular            33
Oficial              259
Diplomatico          259
dtype: int64

In [284]:
accidentalidad_2023.isna().sum()

solo danos           137
herido                 9
muerto               138
direccion              0
dia                    0
mes                    0
ano                    0
choque                41
atropello            111
volcamiento          131
caida de ocupante    142
otro                 142
rural                107
urbana                66
masculino             13
femenino              95
-18                  139
18-30                 55
31-60                 47
60                   109
vehiculo               1
publico              115
particular            18
oficial              139
diplomatico          142
dtype: int64

Hacer corrección de tipo de datos.

In [285]:
accidentalidad_2021.dtypes

solo danos            object
herido               float64
muerto               float64
direccion             object
dia                  float64
mes                  float64
ano                  float64
choque                object
atropello             object
volcamiento           object
caida de ocupante     object
otro                  object
rural                 object
urbana                object
masculino            float64
femenino             float64
-18                  float64
18-30                 object
31-60                 object
60                    object
vehiculo              object
publico              float64
particular            object
oficial              float64
diplomatico           object
dtype: object

In [286]:
accidentalidad_2023.dtypes

solo danos            object
herido                object
muerto                object
direccion             object
dia                   object
mes                   object
ano                   object
choque                object
atropello             object
volcamiento           object
caida de ocupante     object
otro                  object
rural                 object
urbana                object
masculino             object
femenino              object
-18                  float64
18-30                 object
31-60                 object
60                   float64
vehiculo              object
publico               object
particular            object
oficial               object
diplomatico           object
dtype: object

Revisar el formato de las direcciones.

In [389]:
accidentalidad_2021[
    (accidentalidad_2021['Direccion'].str.contains('Vía')) \
    & (accidentalidad_2021['Direccion'].str.contains('Vía') != float('nan'))
][['Direccion']]

                           Direccion
6              Vía La Uribe- Calarcá
8     Vía La Uribe- Calarcá km 7+000
15   Vía La Uribe- Calarcá Km 71+200
16       Vía Armenia-Ibagué KM 2+600
21       Vía Armenia-Ibagué km 1+600
..                               ...
248   Vía La Uribe-Calarcá km 85+700
249      Vía Armenia-Ibagué km 2+300
250    Vía Calarcá-Circasia km 3+800
254   Vía La Uribe-Calarcá km 82+150
255    Vía La Uribe-Calarcá km 82+30

[112 rows x 1 columns]

In [391]:
accidentalidad_2021.shape[0] - 112

148

In [392]:
accidentalidad_2023[
    (accidentalidad_2023['Direccion'].str.contains('Vía')) \
    & (accidentalidad_2023['Direccion'].str.contains('Vía') != float('nan'))
][['Direccion']]

Empty DataFrame
Columns: [Direccion]
Index: []

In [393]:
accidentalidad_2023.shape

(146, 25)

## Accidentalidad 2024 y 2025

Los datos de la accidentalidad del año 2025 tienen una columna de mas al inicio y al final, por lo tanto, se debe eliminar estas.

In [296]:
accidentalidad_2024 = pd.read_excel('../data/alcaldia/Accidentalidad-2024-2025.xlsx', sheet_name='2024')
accidentalidad_2025 = pd.read_excel('../data/alcaldia/Accidentalidad-2024-2025.xlsx', sheet_name='2025')

accidentalidad_2025 = accidentalidad_2025[accidentalidad_2025.columns[1:-1]]

In [407]:
accidentalidad_2024.rename(columns={
    'A.A': 'Año',
    'D.D': 'Dia',
    'M.M': 'Mes',
    'Dirección': 'Direccion'
}, inplace=True)

accidentalidad_2024.columns = list(map(lambda x: str(x).strip().capitalize(), accidentalidad_2024.columns))

accidentalidad_2024.columns

Index(['Solo daños', 'Herido', 'Muerto', 'Direccion', 'Dia', 'Mes', 'Año',
       'Choque', 'Atropello', 'Volcamiento', 'Caída de ocupante', 'Otro',
       'Rural', 'Urbana', 'Masculino', 'Femenino', '-18', '18-30', '31-60',
       '60', 'Vehículo', 'Público', 'Particular', 'Oficial', 'Diplomático',
       'Conductor', 'Acompañante', 'Peatón', 'Pasajero'],
      dtype='object')

In [395]:
accidentalidad_2024.head(2)

,Solo daños,Herido,Muerto,Dirección,Dia,Mes,Año,Choque,Atropello,Volcamiento,...,60,Vehículo,Público,Particular,Oficial,Diplomático,Conductor,Acompañante,Peatón,Pasajero
0,NaN,1,NaN,CRA 31 N. 40-07 BARRIO PESCADOR,01,01,2024,NaN,1,NaN,...,NaN,CAMIONETA,NaN,1,NaN,NaN,NaN,NaN,1,NaN
1,NaN,NaN,1,VIA LA URIBE CALARCA KM 83 + 040,07,01,2024,1,NaN,NaN,...,NaN,MOTOCICLETA,NaN,1,NaN,NaN,NaN,1,NaN,NaN

In [305]:
accidentalidad_2025.rename(columns={
    'A.A': 'Año',
    'D.D': 'Dia',
    'M.M': 'Mes',
}, inplace=True)

accidentalidad_2025.columns = list(map(lambda x: str(x).strip().capitalize(), accidentalidad_2025.columns))

accidentalidad_2025.columns

Index(['Solo daños', 'Herido', 'Total heridos', 'Muerto', 'Total muertos',
       'Direccion', 'Dia', 'Mes', 'Año', 'Choque', 'Atropello', 'Volcamiento',
       'Caida del ocupante', 'Incendio', 'Otro', 'Rural', 'Nacional',
       'Departamental', 'Municipal', 'Urbana', 'Masculino', 'Femenino', '-18',
       '18-30', '31-60', '60', 'Vehiculos', 'Publico', 'Particular', 'Oficial',
       'Diplomatico'],
      dtype='object')

Revisar valores nulos.

Cambiar tipo de datos.

Revisar el formato de las direcciones.

In [405]:
accidentalidad_2024[
    (accidentalidad_2024['Dirección'].str.contains(*['Vía', 'Via'])) \
    & (accidentalidad_2024['Dirección'].str.contains(*['Vía', 'Via']) != float('nan'))
][['Dirección']]

Empty DataFrame
Columns: [Dirección]
Index: []

In [397]:
accidentalidad_2024.shape

(169, 29)

In [403]:
accidentalidad_2025[
    (accidentalidad_2025['Direccion'].str.contains(*['Vía', 'Via'])) \
    & (accidentalidad_2025['Direccion'].str.contains(*['Vía', 'Via']) != float('nan'))
][['Direccion']]

                                     Direccion
68  Vía Calarcá Barcelona finca Camcum Calarcá

In [406]:
accidentalidad_2025.shape

(122, 31)