In [70]:
# Importar librerias
from unidecode import unidecode
import pandas as pd
import numpy as np

# Accidentes de transito desde marzo 2017 a diciembre 2022

Descripción de la cantidad de accidentes en el municipio de Calarca desdel el año 2017

In [84]:
# Dataframe inicial
accidentes = pd.read_csv('../data/ACCIDENTES_DE_TRANSITO_DESDE_MARZO__2017_A_DICIEMBRE_DE_2022_20251120.csv')
accidentes

,ORDEN,IPAT,FECHA,AÑO,MES,DIA,GRAVEDAD
0,1,A000057026,2017-03-16T00:00:00.000,2017,3,jueves,CON HERIDOS
1,2,A000057029,2017-03-14T00:00:00.000,2017,3,martes,CON HERIDOS
2,3,A000057030,2017-03-14T00:00:00.000,2017,3,martes,CON HERIDOS
3,4,A000057022,2017-03-14T00:00:00.000,2017,3,martes,SOLO DAÑOS
4,5,A000056976,2017-03-14T00:00:00.000,2017,3,martes,SOLO DAÑOS
...,...,...,...,...,...,...,...
1719,1720,A001460191,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1720,1721,A001460190,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1721,1722,A001460186,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1722,1723,A001460187,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1723,1724,A001460189,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS

In [85]:
# Modificaciones
accidentes = accidentes.rename(columns={'DIA': 'DIA_SEMANA'}) 

accidentes['FECHA'] = pd.to_datetime(accidentes['FECHA'])

accidentes['DIA'] = accidentes['FECHA'].dt.day
accidentes['DIA'] = accidentes['DIA'].astype(str).str.zfill(2)
accidentes['MES'] = accidentes['MES'].astype(str).str.zfill(2)

accidentes['FECHA'] = accidentes['FECHA'].dt.date.astype(str)
accidentes['FECHA'] = pd.to_datetime(accidentes['FECHA']).dt.strftime('%d/%m/%Y')

accidentes['DIA_SEMANA'] = accidentes['DIA_SEMANA'].str.upper()
accidentes['DIA_SEMANA'] = accidentes['DIA_SEMANA'].apply(lambda x: unidecode(x))

accidentes = accidentes[['ORDEN', 'IPAT', 'FECHA', 'DIA_SEMANA','DIA', 'MES', 'AÑO', 'GRAVEDAD']]

In [86]:
# Dataframe final
accidentes

      ORDEN        IPAT       FECHA DIA_SEMANA DIA MES   AÑO     GRAVEDAD
0         1  A000057026  16/03/2017     JUEVES  16  03  2017  CON HERIDOS
1         2  A000057029  14/03/2017     MARTES  14  03  2017  CON HERIDOS
2         3  A000057030  14/03/2017     MARTES  14  03  2017  CON HERIDOS
3         4  A000057022  14/03/2017     MARTES  14  03  2017   SOLO DAÑOS
4         5  A000056976  14/03/2017     MARTES  14  03  2017   SOLO DAÑOS
...     ...         ...         ...        ...  ..  ..   ...          ...
1719   1720  A001460191  19/12/2022      LUNES  19  12  2022  CON HERIDOS
1720   1721  A001460190  19/12/2022      LUNES  19  12  2022  CON HERIDOS
1721   1722  A001460186  19/12/2022      LUNES  19  12  2022  CON HERIDOS
1722   1723  A001460187  19/12/2022      LUNES  19  12  2022  CON HERIDOS
1723   1724  A001460189  19/12/2022      LUNES  19  12  2022  CON HERIDOS

[1724 rows x 8 columns]

In [195]:
accidentes['AÑO'].value_counts().sort_index()

AÑO
2017    263
2018    418
2019    298
2020    228
2021    290
2022    227
Name: count, dtype: int64

# Sectores críticos de mortalidad 2022

Archivo geográfico de la red vial carretera nacional, con las principales vías nacionales de la red primaria y secundaria, que se encuentre particionada en diferentes elementos los cuales no deben superar una longitud máxima de 10 kilómetros

In [45]:
# Dataframe inicial
sectores_criticos = pd.read_csv('../data/Sectores_críticos_mortalidad_2022_20251120.csv')
sectores_criticos

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
0,Moto,1,"34,896",IP - Nueva Malla Vial del Valle del Cauca,Yumbo - Yotoco - Buga,ANI,"1,100",5G001,2301,11,12,230111,230112,1,-76.486357,3.579063,-76.485908,3.576157,330.437366113
1,Moto,2,"35,613",IP - Nueva Malla Vial del Valle del Cauca,Santander de Quilichao-Candelaria,ANI,5,5G001,2504A,35,36,2504A35,2504A36,1,-76.349779,3.415557,-76.351012,3.410509,587.579050898
2,Moto,3,"19,085",NaN,El Hatillo - Girardota - Copacabana - Bello - ...,DEPTO,"1,218",0,NaN,0,0,NaN,NaN,1,-75.525581,6.345254,-75.526520,6.345046,107.078456507
3,Moto,4,"15,279",NaN,NaN,DEPTO,"1,229",0,45AST08,11,12,45AST0811,45AST0812,1,-73.166214,7.099120,-73.168750,7.090619,994.663574066
4,Moto,5,"27,941",Villavicencio - Yopal,Villavicencio - Yopal,ANI,54,4G020,6511,7,8,65117,65118,1,-72.933787,4.616133,-72.926996,4.609883,"1,030.00901165"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,Vehiculo,96,"22,080",NaN,Barbosa-Tunja,INVIAS-OTROS,78,0,6209,17,18,620917,620918,0,-73.527815,5.844435,-73.521052,5.846173,"1,080.68689094999"
643,Vehiculo,97,"6,069",NaN,NaN,OTRO,0,0,NaN,0,0,NaN,NaN,0,-76.413283,3.383472,-76.416340,3.374152,"1,165.90697612999"
644,Vehiculo,98,"6,052",IP - Nueva Malla Vial del Valle del Cauca,NaN,ANI,0,5G001,NaN,0,0,NaN,NaN,0,-76.433439,3.412331,-76.421998,3.411388,"1,278.95628102"
645,Vehiculo,99,360,Ruta del Sol 3,Bosconia - Cienaga,ANI,33,3G012,45MGB,3,5,45MGB3,45MGB5,0,-74.164711,10.570482,-74.163422,10.557878,"1,434.6184324"
646,Vehiculo,100,"2,670",NaN,NaN,DEPTO,"1,219",0,NaN,0,0,NaN,NaN,0,-75.376408,6.412902,-75.388077,6.411169,"1,434.70834095999"

In [46]:
# Modificaciones
sectores_criticos = sectores_criticos[sectores_criticos['CORREDOR'].str.contains('calarcá', case=False, na=False)]
sectores_criticos.columns = sectores_criticos.columns.str.upper()
sectores_criticos = sectores_criticos.rename(columns={'ACTORVIAL': 'TIPO_VEHICULO'})
sectores_criticos = sectores_criticos.apply(lambda col: col.str.upper() if col.dtype == "object" else col)

sectores_criticos = sectores_criticos.assign(
    TIPO_VEHICULO = sectores_criticos['TIPO_VEHICULO'].replace('VEHICULO', 'AUTOMOVIL'),
    RURAL = 1 - sectores_criticos['PASOURBANO'],
    URBANO = sectores_criticos['PASOURBANO']
)

sectores_criticos = sectores_criticos.drop(columns=['PASOURBANO'])

In [47]:
# Dataframe final
sectores_criticos

,TIPO_VEHICULO,PRIORIDAD,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CODVIA,CODPRI,CODPRF,CODSEGPRI,CODSEGPRF,XI,YI,XF,YF,SHAPE_LENG,RURAL,URBANO
41,MOTO,42,"31,208",ARMENIA -PEREIRA - MANIZALES,LA PAILA - CALARCÁ,ANI,62,1G010,4002,37,38,400237,400238,-75.792626,4.455951,-75.800047,4.452158,952.489973787,0,1
203,PEATON,54,"31,610",IP – GIC,CALARCÁ - IBAGUÉ,ANI,63,4G011,40TLC,5,6,40TLC5,40TLC6,-75.220274,4.424155,-75.211595,4.424079,993.3754268,1,0
353,TODOS,104,"31,533",IP – GIC,CALARCÁ - IBAGUÉ,ANI,63,4G011,4003,49,50,400349,400350,-75.433417,4.438846,-75.425256,4.441638,"1,006.00999989",0,1
593,AUTOMOVIL,47,"31,815",ARMENIA -PEREIRA - MANIZALES,LA PAILA - CALARCÁ,ANI,62,1G010,4002,5,6,40025,40026,-76.022035,4.353366,-76.030509,4.352049,991.598406076,1,0

# Vehículos matriculados desde enero de 2020 hasta mayo del 2022 por clase, modelo y tipo de vehículos

Vehículos matriculados en Calarca desde enero de 2020 hasta mayo del 2022 por clase, modelo y tipo de vehículo

In [114]:
# Dataframe inicial
vehiculos_matriculados = pd.read_csv('../data/Vehículos_matriculados_desde_enero_de_2020_hasta_mayo_del_2022_por_clase,_modelo_y_tipo_de_vehículo_20251120.csv')
vehiculos_matriculados

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes
3,4,AUTOMOVIL,RENAULT,1988,18/09/2000,2000,09.septiembre,18.lunes
4,5,CAMIONETA,CHEVROLET,1988,24/03/2000,2000,03.marzo,24.viernes
...,...,...,...,...,...,...,...,...
16938,16939,MOTOCICLETA,BAJAJ,2022,21/01/2022,2022,01.enero,21.viernes
16939,16940,MOTOCICLETA,VICTORY,2022,27/01/2022,2022,01.enero,27.jueves
16940,16941,MOTOCICLETA,BAJAJ,2022,25/01/2022,2022,01.enero,25.martes
16941,16942,MOTOCICLETA,BAJAJ,2022,28/01/2022,2022,01.enero,28.viernes
16942,16943,MOTOCICLETA,AKT,2022,10/02/2022,2022,02.febrero,10.jueves

In [115]:
# Modificaciones
vehiculos_matriculados.columns = vehiculos_matriculados.columns.str.upper()

vehiculos_matriculados = vehiculos_matriculados.rename(columns={
    'CLASE': 'TIPO_VEHICULO',
    'FECHA MATRICULA/RADICACION': 'FECHA'
})

vehiculos_matriculados = vehiculos_matriculados[vehiculos_matriculados['MODELO'].astype(str).str.match(r'^(19|20)\d{2}$')]

vehiculos_matriculados['FECHA'] = pd.to_datetime(vehiculos_matriculados['FECHA'], dayfirst=True, errors='coerce')

vehiculos_matriculados['DIA'] = vehiculos_matriculados['FECHA'].dt.day.astype(str).str.zfill(2)
vehiculos_matriculados['MES'] = vehiculos_matriculados['FECHA'].dt.month.astype(str).str.zfill(2)
vehiculos_matriculados['AÑO'] = vehiculos_matriculados['FECHA'].dt.year

vehiculos_matriculados['DIA_SEMANA'] = (vehiculos_matriculados['FECHA'].dt.day_name(locale='es_ES').str.upper().apply(unidecode))

vehiculos_matriculados['FECHA'] = vehiculos_matriculados['FECHA'].dt.strftime('%d/%m/%Y')

vehiculos_matriculados = vehiculos_matriculados.apply(
    lambda col: col.str.upper() if col.dtype == "object" and col.name != "FECHA" else col
)

vehiculos_matriculados = vehiculos_matriculados[['ORDEN', 'TIPO_VEHICULO', 'MARCA', 'MODELO', 'FECHA', 'DIA_SEMANA', 'DIA', 'MES', 'AÑO']]

In [116]:
# Dataframe final
vehiculos_matriculados

,ORDEN,TIPO_VEHICULO,MARCA,MODELO,FECHA,DIA_SEMANA,DIA,MES,AÑO
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,MIERCOLES,02,02,2000
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,MIERCOLES,23,02,2000
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,LUNES,25,09,2000
3,4,AUTOMOVIL,RENAULT,1988,18/09/2000,LUNES,18,09,2000
4,5,CAMIONETA,CHEVROLET,1988,24/03/2000,VIERNES,24,03,2000
...,...,...,...,...,...,...,...,...,...
16938,16939,MOTOCICLETA,BAJAJ,2022,21/01/2022,VIERNES,21,01,2022
16939,16940,MOTOCICLETA,VICTORY,2022,27/01/2022,JUEVES,27,01,2022
16940,16941,MOTOCICLETA,BAJAJ,2022,25/01/2022,MARTES,25,01,2022
16941,16942,MOTOCICLETA,BAJAJ,2022,28/01/2022,VIERNES,28,01,2022
16942,16943,MOTOCICLETA,AKT,2022,10/02/2022,JUEVES,10,02,2022

# Vehículos involucrados en un accidente de transito ley 2251-2022

Registro Único Nacional de Tránsito (RUNT) publica anualmente un registro consolidado de los vehículos que estuvieron involucrados en siniestros de tránsito con resultado de muerte o lesión.

In [135]:
# Dataframe inicial
vehiculos_involucrados = pd.read_csv('../data/VEHICULOS_INVOLUCRADOS_EN_UN_ACCIDENTE_DE_TRANSITO_LEY_2251-2022_20251120.csv')
vehiculos_involucrados

C:\Users\lowke\AppData\Local\Temp\ipykernel_7480\1845236462.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  vehiculos_involucrados = pd.read_csv('../data/VEHICULOS_INVOLUCRADOS_EN_UN_ACCIDENTE_DE_TRANSITO_LEY_2251-2022_20251120.csv')

,MARCA_VEHICULO,MODELO_VEHICULO,TIPO_VEHICULO,EDAD_VEHICULO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,DEPARTAMENTO_ACCIDENTE,MUNICIPIO_ACCIDENTE,AUTORIDAD_DE_TRANSITO
0,VICTORY,2023,MOTOCICLETA,2.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
1,KIA,2025,AUTOMOVIL,1.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
2,FORD,2015,AUTOMOVIL,10.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
3,HYUNDAI,2007,AUTOMOVIL,19.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
4,VICTORY,2025,MOTOCICLETA,1.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
...,...,...,...,...,...,...,...,...,...
365502,YAMAHA,2014,MOTOCICLETA,12.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365503,YAMAHA,2013,MOTOCICLETA,12.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365504,BAJAJ,2018,MOTOCICLETA,7.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365505,YAMAHA,2021,MOTOCICLETA,5.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365506,MAZDA,2010,CAMIONETA,15.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA

In [ ]:
# Modificaciones
vehiculos_involucrados = vehiculos_involucrados[vehiculos_involucrados['MUNICIPIO_ACCIDENTE'].str.contains('calarca', case=False, na=False)]

vehiculos_involucrados = vehiculos_involucrados.rename(columns={
    'MODELO_VEHICULO': 'MODELO',
    'MARCA_VEHICULO': 'MARCA',
    'FECHA_ACCIDENTE': 'FECHA',
    'GRAVEDAD_ACCIDENTE': 'GRAVEDAD'
})


vehiculos_involucrados = vehiculos_involucrados.drop(columns={'DEPARTAMENTO_ACCIDENTE', 'MUNICIPIO_ACCIDENTE'})

vehiculos_involucrados['EDAD_VEHICULO'] = vehiculos_involucrados['EDAD_VEHICULO'].astype(float).astype(int)
vehiculos_involucrados['EDAD_VEHICULO'] = vehiculos_involucrados['EDAD_VEHICULO'].astype(str).str.zfill(2)

vehiculos_involucrados['FECHA'] = pd.to_datetime(vehiculos_involucrados['FECHA'], format='%b %Y')
vehiculos_involucrados['FECHA'] = vehiculos_involucrados['FECHA'].dt.strftime('%m/%Y')

vehiculos_involucrados['MES'] = vehiculos_involucrados['FECHA'].str.split('/').str[0]
vehiculos_involucrados['AÑO'] = vehiculos_involucrados['FECHA'].str.split('/').str[1]
vehiculos_involucrados['DIA'] = '00'


vehiculos_involucrados = vehiculos_involucrados[['AUTORIDAD_DE_TRANSITO', 'TIPO_VEHICULO', 'MARCA', 'MODELO', 'EDAD_VEHICULO', 'GRAVEDAD','FECHA', 'DIA', 'MES', 'AÑO']]

In [137]:
# Dataframe final
vehiculos_involucrados

,AUTORIDAD_DE_TRANSITO,TIPO_VEHICULO,MARCA,MODELO,EDAD_VEHICULO,GRAVEDAD,FECHA,DIA,MES,AÑO
2644,DIRECCION DE TTOYTTE POLICIA NACIONAL - DITRA,MICROBUS,HYUNDAI,2018,02,CON HERIDOS,12/2024,00,12,2024
2757,INSP TTOyTTE CALARCA,AUTOMOVIL,CHEVROLET,2019,06,CON HERIDOS,12/2024,00,12,2024
2758,INSP TTOyTTE CALARCA,CAMPERO,CHEVROLET,1999,26,CON HERIDOS,12/2024,00,12,2024
2759,INSP TTOyTTE CALARCA,MOTOCICLETA,HONDA,2023,03,CON HERIDOS,12/2024,00,12,2024
2760,INSP TTOyTTE CALARCA,AUTOMOVIL,NISSAN,2016,09,CON MUERTOS,12/2024,00,12,2024
...,...,...,...,...,...,...,...,...,...,...
361913,INSP TTOyTTE CALARCA,MOTOCICLETA,TVS,2020,06,CON HERIDOS,01/2022,00,01,2022
361914,INSP TTOyTTE CALARCA,MOTOCICLETA,KYMCO,2015,11,CON HERIDOS,01/2022,00,01,2022
362622,INSP TTOyTTE CALARCA,AUTOMOVIL,LIFAN,2009,16,CON HERIDOS,01/2022,00,01,2022
362623,INSP TTOyTTE CALARCA,AUTOMOVIL,FORD,2011,14,CON HERIDOS,01/2022,00,01,2022
362624,INSP TTOyTTE CALARCA,AUTOMOVIL,KIA,2016,10,CON HERIDOS,01/2022,00,01,2022

In [194]:
vehiculos_involucrados['AÑO'].value_counts().sort_index()

AÑO
2022    289
2023    258
2024    250
2025     71
Name: count, dtype: int64

# Lesiones accidentes de transito

Es toda acción donde una persona causa algún tipo de daño o lesión corporal a otra
mediante la participación de cualquier vehículo (accidente de tránsito), se mide en víctimas.

In [154]:
# Dataframe inicial
lesiones_accidentes = pd.read_csv('../data/LESIONES_ACCIDENTES_DE_TRÁNSITO_20251120.csv')
lesiones_accidentes

       FECHA HECHO  COD_DEPTO  DEPARTAMENTO  COD_MUNI   MUNICIPIO  CANTIDAD
0       01/01/2003         52        NARIÑO     52001       PASTO         1
1       01/01/2003         52        NARIÑO     52001       PASTO         1
2       01/01/2003         52        NARIÑO     52001       PASTO         1
3       01/01/2003         52        NARIÑO     52001       PASTO         1
4       01/01/2003         52        NARIÑO     52001       PASTO         1
...            ...        ...           ...       ...         ...       ...
597354  31/10/2025         25  CUNDINAMARCA     25286       FUNZA         1
597355  31/10/2025         25  CUNDINAMARCA     25290  FUSAGASUGA         2
597356  31/10/2025         73        TOLIMA     73319       GUAMO         1
597357  31/10/2025         73        TOLIMA     73319       GUAMO         1
597358  31/10/2025          5     ANTIOQUIA      5001    MEDELLIN         1

[597359 rows x 6 columns]

In [155]:
# Modificaciones
lesiones_accidentes = lesiones_accidentes[lesiones_accidentes['MUNICIPIO'].str.contains('calarca', case=False, na=False)]

lesiones_accidentes = lesiones_accidentes.drop(columns={'COD_DEPTO', 'DEPARTAMENTO', 'COD_MUNI', 'MUNICIPIO'})

lesiones_accidentes = lesiones_accidentes.rename(columns={'FECHA HECHO': 'FECHA'})

lesiones_accidentes['DIA'] = lesiones_accidentes['FECHA'].str.split('/').str[0]
lesiones_accidentes['MES'] = lesiones_accidentes['FECHA'].str.split('/').str[1]
lesiones_accidentes['AÑO'] = lesiones_accidentes['FECHA'].str.split('/').str[2]

lesiones_accidentes['FECHA'] = pd.to_datetime(lesiones_accidentes['FECHA'], dayfirst=True)
lesiones_accidentes['DIA_SEMANA'] = lesiones_accidentes['FECHA'].dt.day_name(locale='es_ES').str.upper()
lesiones_accidentes['DIA_SEMANA'] = lesiones_accidentes['DIA_SEMANA'].apply(unidecode)

lesiones_accidentes = lesiones_accidentes[['CANTIDAD','FECHA', 'DIA_SEMANA', 'DIA', 'MES', 'AÑO']]

In [156]:
# Dataframe final
lesiones_accidentes

        CANTIDAD      FECHA DIA_SEMANA DIA MES   AÑO
279            1 2003-01-06      LUNES  06  01  2003
280            1 2003-01-06      LUNES  06  01  2003
4160           1 2003-04-20    DOMINGO  20  04  2003
4161           1 2003-04-20    DOMINGO  20  04  2003
8792           1 2003-08-20  MIERCOLES  20  08  2003
...          ...        ...        ...  ..  ..   ...
592315         1 2025-09-21    DOMINGO  21  09  2025
593242         1 2025-09-28    DOMINGO  28  09  2025
593455         1 2025-09-29      LUNES  29  09  2025
594656         1 2025-10-08  MIERCOLES  08  10  2025
594870         1 2025-10-10    VIERNES  10  10  2025

[1949 rows x 6 columns]

In [193]:
lesiones_accidentes['AÑO'].value_counts().sort_index()

AÑO
2003     23
2004     17
2005      6
2006     31
2007     44
2008     57
2009    181
2010    103
2011     72
2012     83
2013     95
2014     95
2015     66
2016    122
2017    106
2018    117
2019     62
2020     38
2021     59
2022    137
2023    156
2024    140
2025    139
Name: count, dtype: int64

# Homicidios accidente de tránsito Policía Nacional

En este conjunto de datos la ciudadanía puede encontrará información del delito de Homicidios en accidente de Tránsito desde el 01 de enero del año 2010 al 31 de mayo del año 2025.

In [189]:
homocidios_accidente = pd.read_csv('../data/Homicidios_accidente_de_tránsito_Policía_Nacional_20251120.csv')
homocidios_accidente

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,CAUCA,Cajibío,19130000,NO REPORTADO,13/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,TOLIMA,Herveo,73347000,NO REPORTADO,24/09/2018,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ANTIOQUIA,Bello,5088000,NO REPORTADO,28/05/2023,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAUCA,Santander de Quilichao,19698000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,GUAJIRA,Riohacha (CT),44001000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
...,...,...,...,...,...,...,...,...,...
88515,CESAR,Curumaní,20228000,VEHICULO,29/05/2025,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88516,BOYACÁ,Saboyá,15632000,VEHICULO,30/05/2025,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88517,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,07/04/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88518,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,06/04/2013,FEMENINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88519,VALLE,Cali (CT),76001000,VEHICULO,07/03/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [190]:
# Modificaciones
homocidios_accidente = homocidios_accidente[homocidios_accidente['MUNICIPIO'].str.contains('calarca', case=False, na=False)]

homocidios_accidente = homocidios_accidente.rename(columns={
    'ARMAS MEDIOS': 'TIPO_VEHICULO', 
    'FECHA HECHO': 'FECHA'
}) 

homocidios_accidente = homocidios_accidente.drop(columns={'DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'GRUPO ETARÍO', 'DESCRIPCIÓN CONDUCTA', 'CANTIDAD'})

homocidios_accidente = homocidios_accidente[~homocidios_accidente['TIPO_VEHICULO'].isin(['NO REPORTADO', 'SIN EMPLEO DE ARMAS'])]

homocidios_accidente = homocidios_accidente.assign(
    TIPO_VEHICULO = homocidios_accidente['TIPO_VEHICULO'].replace({
        'VEHICULO': 'AUTOMOVIL',
        'MOTO': 'MOTOCICLETA'
    })
)

homocidios_accidente['DIA'] = homocidios_accidente['FECHA'].str.split('/').str[0]
homocidios_accidente['MES'] = homocidios_accidente['FECHA'].str.split('/').str[1]
homocidios_accidente['AÑO'] = homocidios_accidente['FECHA'].str.split('/').str[2]

homocidios_accidente['FECHA'] = pd.to_datetime(homocidios_accidente['FECHA'], dayfirst=True)
homocidios_accidente['DIA_SEMANA'] = homocidios_accidente['FECHA'].dt.day_name(locale='es_ES').str.upper()
homocidios_accidente['DIA_SEMANA'] = homocidios_accidente['DIA_SEMANA'].apply(unidecode)

homocidios_accidente = homocidios_accidente[['GENERO', 'TIPO_VEHICULO', 'FECHA', 'DIA_SEMANA', 'DIA', 'MES', 'AÑO']]

In [191]:
homocidios_accidente

          GENERO TIPO_VEHICULO      FECHA DIA_SEMANA DIA MES   AÑO
14449  MASCULINO     BICICLETA 2016-05-15    DOMINGO  15  05  2016
14571  MASCULINO     BICICLETA 2018-11-14  MIERCOLES  14  11  2018
14799  MASCULINO     BICICLETA 2010-08-20    VIERNES  20  08  2010
15401  MASCULINO   MOTOCICLETA 2013-05-03    VIERNES  03  05  2013
15706  MASCULINO   MOTOCICLETA 2013-11-17    DOMINGO  17  11  2013
...          ...           ...        ...        ...  ..  ..   ...
87226  MASCULINO     AUTOMOVIL 2012-11-13     MARTES  13  11  2012
87604  MASCULINO     AUTOMOVIL 2013-01-16  MIERCOLES  16  01  2013
87637  MASCULINO     AUTOMOVIL 2013-01-06    DOMINGO  06  01  2013
87918  MASCULINO     AUTOMOVIL 2013-02-15    VIERNES  15  02  2013
88472  MASCULINO     AUTOMOVIL 2013-04-04     JUEVES  04  04  2013

[211 rows x 7 columns]

In [192]:
homocidios_accidente['AÑO'].value_counts().sort_index()

AÑO
2010    13
2011    12
2012    22
2013     9
2014    16
2015    17
2016    21
2017    21
2018    17
2019    15
2020    15
2021    20
2022    13
Name: count, dtype: int64