# Mapeo de alto riesgo
## Acción focalizada contra la siniestralidad vial crítica

In [1]:
# Importar librerias
import pandas as pd
import numpy as np

## Lectura de datos 
### Datos brindados por el municipio en la postulación del reto

### 1. Accidentes de transito desde marzo 2017 a diciembre 2022

Descripción de la cantidad de accidentes en el municipio de Calarca desdel el año 2017

In [2]:
accidentes = pd.read_csv('../data/ACCIDENTES_DE_TRANSITO_DESDE_MARZO__2017_A_DICIEMBRE_DE_2022_20251120.csv')
accidentes

,ORDEN,IPAT,FECHA,AÑO,MES,DIA,GRAVEDAD
0,1,A000057026,2017-03-16T00:00:00.000,2017,3,jueves,CON HERIDOS
1,2,A000057029,2017-03-14T00:00:00.000,2017,3,martes,CON HERIDOS
2,3,A000057030,2017-03-14T00:00:00.000,2017,3,martes,CON HERIDOS
3,4,A000057022,2017-03-14T00:00:00.000,2017,3,martes,SOLO DAÑOS
4,5,A000056976,2017-03-14T00:00:00.000,2017,3,martes,SOLO DAÑOS
...,...,...,...,...,...,...,...
1719,1720,A001460191,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1720,1721,A001460190,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1721,1722,A001460186,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1722,1723,A001460187,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS
1723,1724,A001460189,2022-12-19T00:00:00.000,2022,12,lunes,CON HERIDOS

### 2. Sectores críticos de mortalidad 2022

Archivo geográfico de la red vial carretera nacional, con las principales vías nacionales de la red primaria y secundaria, que se encuentre particionada en diferentes elementos los cuales no deben superar una longitud máxima de 10 kilómetros

In [3]:
sectores_criticos = pd.read_csv('../data/Sectores_críticos_mortalidad_2022_20251120.csv')
sectores_criticos

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
0,Moto,1,"34,896",IP - Nueva Malla Vial del Valle del Cauca,Yumbo - Yotoco - Buga,ANI,"1,100",5G001,2301,11,12,230111,230112,1,-76.486357,3.579063,-76.485908,3.576157,330.437366113
1,Moto,2,"35,613",IP - Nueva Malla Vial del Valle del Cauca,Santander de Quilichao-Candelaria,ANI,5,5G001,2504A,35,36,2504A35,2504A36,1,-76.349779,3.415557,-76.351012,3.410509,587.579050898
2,Moto,3,"19,085",NaN,El Hatillo - Girardota - Copacabana - Bello - ...,DEPTO,"1,218",0,NaN,0,0,NaN,NaN,1,-75.525581,6.345254,-75.526520,6.345046,107.078456507
3,Moto,4,"15,279",NaN,NaN,DEPTO,"1,229",0,45AST08,11,12,45AST0811,45AST0812,1,-73.166214,7.099120,-73.168750,7.090619,994.663574066
4,Moto,5,"27,941",Villavicencio - Yopal,Villavicencio - Yopal,ANI,54,4G020,6511,7,8,65117,65118,1,-72.933787,4.616133,-72.926996,4.609883,"1,030.00901165"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,Vehiculo,96,"22,080",NaN,Barbosa-Tunja,INVIAS-OTROS,78,0,6209,17,18,620917,620918,0,-73.527815,5.844435,-73.521052,5.846173,"1,080.68689094999"
643,Vehiculo,97,"6,069",NaN,NaN,OTRO,0,0,NaN,0,0,NaN,NaN,0,-76.413283,3.383472,-76.416340,3.374152,"1,165.90697612999"
644,Vehiculo,98,"6,052",IP - Nueva Malla Vial del Valle del Cauca,NaN,ANI,0,5G001,NaN,0,0,NaN,NaN,0,-76.433439,3.412331,-76.421998,3.411388,"1,278.95628102"
645,Vehiculo,99,360,Ruta del Sol 3,Bosconia - Cienaga,ANI,33,3G012,45MGB,3,5,45MGB3,45MGB5,0,-74.164711,10.570482,-74.163422,10.557878,"1,434.6184324"
646,Vehiculo,100,"2,670",NaN,NaN,DEPTO,"1,219",0,NaN,0,0,NaN,NaN,0,-75.376408,6.412902,-75.388077,6.411169,"1,434.70834095999"

### 3. Vehículos matriculados desde enero de 2020 hasta mayo del 2022 por clase, modelo y tipo de vehículos

Vehículos matriculados en Calarca desde enero de 2020 hasta mayo del 2022 por clase, modelo y tipo de vehículo

In [4]:
vehiculos_matriculados = pd.read_csv('../data/Vehículos_matriculados_desde_enero_de_2020_hasta_mayo_del_2022_por_clase,_modelo_y_tipo_de_vehículo_20251120.csv')
vehiculos_matriculados

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes
3,4,AUTOMOVIL,RENAULT,1988,18/09/2000,2000,09.septiembre,18.lunes
4,5,CAMIONETA,CHEVROLET,1988,24/03/2000,2000,03.marzo,24.viernes
...,...,...,...,...,...,...,...,...
16938,16939,MOTOCICLETA,BAJAJ,2022,21/01/2022,2022,01.enero,21.viernes
16939,16940,MOTOCICLETA,VICTORY,2022,27/01/2022,2022,01.enero,27.jueves
16940,16941,MOTOCICLETA,BAJAJ,2022,25/01/2022,2022,01.enero,25.martes
16941,16942,MOTOCICLETA,BAJAJ,2022,28/01/2022,2022,01.enero,28.viernes
16942,16943,MOTOCICLETA,AKT,2022,10/02/2022,2022,02.febrero,10.jueves

In [5]:
vehiculos_matriculados.dtypes

ORDEN                          int64
CLASE                         object
MARCA                         object
MODELO                         int64
FECHA MATRICULA/RADICACION    object
AÑO                            int64
MES                           object
DIA                           object
dtype: object

In [6]:
accidentes.dtypes

ORDEN        int64
IPAT        object
FECHA       object
AÑO          int64
MES          int64
DIA         object
GRAVEDAD    object
dtype: object

In [7]:
sectores_criticos.dtypes

ActorVial      object
Prioridad       int64
COD            object
CONCESION      object
CORREDOR       object
ENTIDAD        object
IDPROY         object
ID_MT          object
CodVia         object
CodPRi          int64
CodPRf          int64
CodSegPRi      object
CodSegPRf      object
PasoUrbano      int64
Xi            float64
Yi            float64
Xf            float64
Yf            float64
Shape_Leng     object
dtype: object

# Exploración de datos hecha por Javier

## Calidad de datos de los accidentes

In [8]:
# ORDEN = número del registro
accidentes.head(5)

   ORDEN        IPAT                    FECHA   AÑO  MES     DIA     GRAVEDAD
0      1  A000057026  2017-03-16T00:00:00.000  2017    3  jueves  CON HERIDOS
1      2  A000057029  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
2      3  A000057030  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
3      4  A000057022  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS
4      5  A000056976  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS

In [9]:
accidentes[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    994
SOLO DAÑOS     682
CON MUERTOS     48
Name: count, dtype: int64

In [10]:
accidentes['MES'].min(), accidentes['MES'].max()

(1, 12)

In [11]:
accidentes[['AÑO']].value_counts().sort_index()

AÑO
2017    263
2018    418
2019    298
2020    228
2021    290
2022    227
Name: count, dtype: int64

In [12]:
# ¿Personas que toman los datos trabajan entre semana? ¿Poca accidentalidad los días Sábado y Domingo?
accidentes[['DIA']].value_counts()

DIA
lunes        391
miércoles    381
martes       350
jueves       312
viernes      267
sábado        23
Name: count, dtype: int64

In [13]:
accidentes[['MES']].value_counts().sort_index()

MES
1      134
2      202
3      127
4      119
5      211
6       83
7      115
8      162
9      274
10      89
11     147
12      61
Name: count, dtype: int64

## Calidad de datos de los sectores criticos

In [14]:
sectores_criticos.head(3)

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
0,Moto,1,"34,896",IP - Nueva Malla Vial del Valle del Cauca,Yumbo - Yotoco - Buga,ANI,"1,100",5G001,2301,11,12,230111,230112,1,-76.486357,3.579063,-76.485908,3.576157,330.437366113
1,Moto,2,"35,613",IP - Nueva Malla Vial del Valle del Cauca,Santander de Quilichao-Candelaria,ANI,5,5G001,2504A,35,36,2504A35,2504A36,1,-76.349779,3.415557,-76.351012,3.410509,587.579050898
2,Moto,3,"19,085",NaN,El Hatillo - Girardota - Copacabana - Bello - ...,DEPTO,"1,218",0,NaN,0,0,NaN,NaN,1,-75.525581,6.345254,-75.526520,6.345046,107.078456507

In [15]:
filtro = sectores_criticos['CORREDOR'].str.contains('Calarcá').replace(to_replace={np.nan: False})
sectores_criticos[filtro]

C:\Users\lowke\AppData\Local\Temp\ipykernel_15840\1517550538.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtro = sectores_criticos['CORREDOR'].str.contains('Calarcá').replace(to_replace={np.nan: False})

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
41,Moto,42,"31,208",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,37,38,400237,400238,1,-75.792626,4.455951,-75.800047,4.452158,952.489973787
203,Peaton,54,"31,610",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,40TLC,5,6,40TLC5,40TLC6,0,-75.220274,4.424155,-75.211595,4.424079,993.3754268
353,Todos,104,"31,533",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,4003,49,50,400349,400350,1,-75.433417,4.438846,-75.425256,4.441638,"1,006.00999989"
593,Vehiculo,47,"31,815",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,5,6,40025,40026,0,-76.022035,4.353366,-76.030509,4.352049,991.598406076

## Calidad de datos de los vehiculos matriculados

In [16]:
vehiculos_matriculados.head(3)

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes

# Exploración de datos hecha por Juana

## Accidentes reportados en Calarca de 2017 a 2022

In [17]:
print(f'El número de accidentes por año es:')
accidentes[['AÑO']].value_counts().sort_index()

El número de accidentes por año es:

AÑO
2017    263
2018    418
2019    298
2020    228
2021    290
2022    227
Name: count, dtype: int64

In [18]:
suma = 263 + 418 + 298 + 228 + 290 + 227

In [19]:
suma

1724

El año con mayor accidentalidad vial fue 2018 con un total de 418 accidentes registrados

##### Año 2017

In [20]:
año_2017 = accidentes[accidentes["AÑO"] == 2017]

In [21]:
año_2017[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    131
SOLO DAÑOS     130
CON MUERTOS      2
Name: count, dtype: int64

In [22]:
año_2017[['MES']].value_counts().sort_index()

MES
3      34
5      61
6      27
8      35
9      72
11     33
12      1
Name: count, dtype: int64

In [23]:
año_2017[['DIA']].value_counts()

DIA
martes       60
viernes      56
miércoles    54
lunes        47
jueves       38
sábado        8
Name: count, dtype: int64

##### Año 2018

In [24]:
año_2018 = accidentes[accidentes["AÑO"] == 2018]

In [25]:
año_2018[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    233
SOLO DAÑOS     178
CON MUERTOS      7
Name: count, dtype: int64

In [26]:
año_2018[['MES']].value_counts().sort_index()

MES
1      54
2      39
3       2
4      41
5      45
7      27
8      33
9      95
10      8
11     45
12     29
Name: count, dtype: int64

In [27]:
año_2018[['DIA']].value_counts()

DIA
miércoles    121
martes        86
jueves        76
viernes       68
lunes         52
sábado        15
Name: count, dtype: int64

##### Año 2019

In [28]:
año_2019 = accidentes[accidentes["AÑO"] == 2019]

In [29]:
año_2019[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    184
SOLO DAÑOS     108
CON MUERTOS      6
Name: count, dtype: int64

In [30]:
año_2019[['MES']].value_counts().sort_index()

MES
2      31
3      27
4      39
5      25
6      23
7      41
8      36
9      35
10     20
11     21
Name: count, dtype: int64

In [31]:
año_2019[['DIA']].value_counts()

DIA
lunes        89
martes       62
miércoles    61
jueves       52
viernes      34
Name: count, dtype: int64

##### Año 2020

In [32]:
año_2020 = accidentes[accidentes["AÑO"] == 2020]

In [33]:
año_2020[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    133
SOLO DAÑOS      84
CON MUERTOS     11
Name: count, dtype: int64

In [34]:
año_2020[['MES']].value_counts().sort_index()

MES
1      29
2      65
3      31
5      34
7       2
8       1
9      41
10     15
11     10
Name: count, dtype: int64

In [35]:
año_2020[['DIA']].value_counts()

DIA
lunes        78
viernes      76
martes       42
jueves       30
miércoles     2
Name: count, dtype: int64

##### Año 2021

In [36]:
año_2021 = accidentes[accidentes["AÑO"] == 2021]

In [37]:
año_2021[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    154
SOLO DAÑOS     124
CON MUERTOS     12
Name: count, dtype: int64

In [38]:
año_2021[['MES']].value_counts().sort_index()

MES
1      51
2      28
3      22
5      40
6      16
7      20
8      29
9      20
10     23
11     26
12     15
Name: count, dtype: int64

In [39]:
año_2019[['DIA']].value_counts()

DIA
lunes        89
martes       62
miércoles    61
jueves       52
viernes      34
Name: count, dtype: int64

##### Año 2022

In [40]:
año_2022 = accidentes[accidentes["AÑO"] == 2022]

In [41]:
año_2022[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    159
SOLO DAÑOS      58
CON MUERTOS     10
Name: count, dtype: int64

In [42]:
año_2022[['MES']].value_counts().sort_index()

MES
2      39
3      11
4      39
5       6
6      17
7      25
8      28
9      11
10     23
11     12
12     16
Name: count, dtype: int64

In [43]:
año_2022[['DIA']].value_counts()

DIA
jueves       63
lunes        61
miércoles    58
martes       38
viernes       7
Name: count, dtype: int64

## Sectores críticos de mortalidad 2022

In [44]:
df_calarca = sectores_criticos[sectores_criticos['CORREDOR'].str.contains('calarcá', case=False, na=False)]

In [45]:
df_calarca

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
41,Moto,42,"31,208",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,37,38,400237,400238,1,-75.792626,4.455951,-75.800047,4.452158,952.489973787
203,Peaton,54,"31,610",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,40TLC,5,6,40TLC5,40TLC6,0,-75.220274,4.424155,-75.211595,4.424079,993.3754268
353,Todos,104,"31,533",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,4003,49,50,400349,400350,1,-75.433417,4.438846,-75.425256,4.441638,"1,006.00999989"
593,Vehiculo,47,"31,815",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,5,6,40025,40026,0,-76.022035,4.353366,-76.030509,4.352049,991.598406076

## Vehículos matriculados desde enero de 2020 hasta mayo del 2022 por clase, modelo y tipo de vehículos

In [46]:
vehiculos_matriculados

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes
3,4,AUTOMOVIL,RENAULT,1988,18/09/2000,2000,09.septiembre,18.lunes
4,5,CAMIONETA,CHEVROLET,1988,24/03/2000,2000,03.marzo,24.viernes
...,...,...,...,...,...,...,...,...
16938,16939,MOTOCICLETA,BAJAJ,2022,21/01/2022,2022,01.enero,21.viernes
16939,16940,MOTOCICLETA,VICTORY,2022,27/01/2022,2022,01.enero,27.jueves
16940,16941,MOTOCICLETA,BAJAJ,2022,25/01/2022,2022,01.enero,25.martes
16941,16942,MOTOCICLETA,BAJAJ,2022,28/01/2022,2022,01.enero,28.viernes
16942,16943,MOTOCICLETA,AKT,2022,10/02/2022,2022,02.febrero,10.jueves

In [47]:
vehiculos_matriculados[['MODELO']].value_counts().sort_index()

MODELO
0           1
4           1
1936        1
1941        1
1942        2
         ...
2019      332
2020      287
2021      281
2022      217
2023       53
Name: count, Length: 84, dtype: int64

In [74]:
print(vehiculos_matriculados[['MODELO']].value_counts().sort_index().to_string())

MODELO
0            1
4            1
1936         1
1941         1
1942         2
1944         2
1945         2
1946         8
1947         3
1948         3
1950         9
1951         7
1952        20
1953        26
1954        65
1955        18
1956        12
1957         4
1958         1
1959        15
1960         8
1961        18
1962         8
1963        11
1964         9
1965         9
1966         9
1967        15
1968         8
1969        15
1970        19
1971        26
1972        16
1973        21
1974        32
1975        27
1976        32
1977        51
1978        46
1979        94
1980        83
1981        74
1982        93
1983        60
1984        60
1985        66
1986        62
1987       109
1988       138
1989       123
1990       116
1991       126
1992       160
1993       231
1994       323
1995       325
1996       292
1997       286
1998       269
1999       183
2000       462
2001       372
2002       475
2003       753
2004       864
2005       674
2006       741
2007      1069
2008       832
2009       522
2010       414
2011       800
2012       627
2013       945
2014       721
2015       502
2016       413
2017       414
2018       319
2019       332
2020       287
2021       281
2022       217
2023        53

In [48]:
vehiculos_matriculados[['CLASE']].value_counts()

CLASE
MOTOCICLETA              9047
AUTOMOVIL                3965
CAMIONETA                1357
CAMPERO                   976
CAMION                    825
TRACTO CAMION             256
VOLQUETA                  134
MICROBUS                  115
BUS                       109
BUSETA                     68
MOTOCARRO                  50
REMOLQUE                   20
SEMIREMOQLUE                6
CUATRIMOTO                  5
MAQUINARIA AGRICOLA         3
CICLOMOTOR                  3
MOTOTRICICLO                2
MINITRACTOR                 1
MAQUINARIA INDUSTRIAL       1
Name: count, dtype: int64

In [49]:
vehiculos_matriculados[['MARCA']].value_counts()

MARCA
CHEVROLET       2584
YAMAHA          2084
SUZUKI          1804
BAJAJ           1338
HONDA           1145
                ...
OLDSMOBILE         1
PONTIAC            1
AVANTI             1
SCANIA BABIS       1
ZOTYE              1
Name: count, Length: 150, dtype: int64

In [80]:
motocicleta = vehiculos_matriculados[vehiculos_matriculados["CLASE"] == 'MOTOCICLETA']
motocicleta

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes
8,9,MOTOCICLETA,PIAGGIO,1999,01/11/2000,2000,11.noviembre,01.miércoles
9,10,MOTOCICLETA,SUZUKI,2000,29/08/2000,2000,08.agosto,29.martes
...,...,...,...,...,...,...,...,...
16938,16939,MOTOCICLETA,BAJAJ,2022,21/01/2022,2022,01.enero,21.viernes
16939,16940,MOTOCICLETA,VICTORY,2022,27/01/2022,2022,01.enero,27.jueves
16940,16941,MOTOCICLETA,BAJAJ,2022,25/01/2022,2022,01.enero,25.martes
16941,16942,MOTOCICLETA,BAJAJ,2022,28/01/2022,2022,01.enero,28.viernes
16942,16943,MOTOCICLETA,AKT,2022,10/02/2022,2022,02.febrero,10.jueves

In [82]:
motocicleta[['MARCA']].value_counts()

MARCA
YAMAHA             2080
SUZUKI             1651
BAJAJ              1333
HONDA              1135
AKT                 809
KYMCO               538
JIALING             304
AUTECO BAJAJ        260
VICTORY             172
AYCO                 95
KAWASAKI             80
TVS                  67
JINCHENG             62
WEST                 52
AUTECO KYMCO         47
UNITED MOTORS        46
KOREMOTO             45
AUTECO KAWASAKI      31
NITRO                24
ACB                  24
AMC                  24
KTM                  20
ACCURO               19
KAZUKI               16
VERUCCI              15
SKYGO                12
LIFAN                10
AUTECO               10
HERO                  9
TONGKO                9
PIAGGIO               5
CMC                   4
HAOMEN                4
QINGQI                4
SIGMA                 4
KEEWAY                3
CAGIVA                3
HARLEY DAVIDSON       2
CHRYSLER              2
BEISUTE               2
JAWA                  1
VESPA                 1
CPI                   1
AVANTI                1
UAZ                   1
B.M.W                 1
KYOTO                 1
TITANIA               1
CHONGQING             1
SHINERAY MOTOS        1
POLARIS               1
MORINI                1
MC MOTOR              1
MAX MOTOR             1
SUKYAMA               1
Name: count, dtype: int64

In [83]:
automovil = vehiculos_matriculados[vehiculos_matriculados["CLASE"] == 'AUTOMOVIL']
automovil

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
3,4,AUTOMOVIL,RENAULT,1988,18/09/2000,2000,09.septiembre,18.lunes
10,11,AUTOMOVIL,CHEVROLET,2001,04/12/2000,2000,12.diciembre,04.lunes
11,12,AUTOMOVIL,MAZDA,1992,08/06/2000,2000,06.junio,08.jueves
12,13,AUTOMOVIL,MAZDA,1994,27/12/2000,2000,12.diciembre,27.miércoles
21,22,AUTOMOVIL,MAZDA,1992,16/06/2000,2000,06.junio,16.viernes
...,...,...,...,...,...,...,...,...
16862,16863,AUTOMOVIL,RENAULT,2022,01/04/2022,2022,04.abril,01.viernes
16870,16871,AUTOMOVIL,MAZDA,2016,14/01/2022,2022,01.enero,14.viernes
16871,16872,AUTOMOVIL,MAZDA,2007,29/04/2022,2022,04.abril,29.viernes
16873,16874,AUTOMOVIL,CHEVROLET,2015,21/04/2022,2022,04.abril,21.jueves
16890,16891,AUTOMOVIL,RENAULT,2022,28/02/2022,2022,02.febrero,28.lunes

In [84]:
automovil[['MARCA']].value_counts()

MARCA
CHEVROLET        1398
RENAULT           958
MAZDA             890
HYUNDAI           135
KIA               132
NISSAN             80
VOLKSWAGEN         77
FORD               60
DAEWOO             43
SUZUKI             38
FIAT               20
ABARTH             19
TOYOTA             13
DODGE              10
MITSUBISHI         10
PEUGEOT             9
MERCEDES BENZ       8
SKODA               7
DAIHATSU            6
HONDA               6
LADA                6
B.M.W               4
DACIA               3
CITROEN             3
CHRYSLER            3
GEELY               3
SIMCA               2
ROVER               2
ZASTAVA             2
MG                  2
CHANA               2
DATSUN              2
BUICK               1
OLDSMOBILE          1
PONTIAC             1
BYD                 1
ALFA ROMEO          1
SEAT                1
CHANGHE             1
STUDEBAKER          1
AUDI                1
ARO                 1
WARZAMA             1
MORRIS              1
Name: count, dtype: int64

# Nuevos datos encontrados

## Vehículos involucrados en un accidente de transito ley 2251-2022

Registro Único Nacional de Tránsito (RUNT) publica anualmente un registro consolidado de los vehículos que estuvieron involucrados en siniestros de tránsito con resultado de muerte o lesión.

In [50]:
vehiculos_involucrados = pd.read_csv('../data/VEHICULOS_INVOLUCRADOS_EN_UN_ACCIDENTE_DE_TRANSITO_LEY_2251-2022_20251120.csv')
vehiculos_involucrados

C:\Users\lowke\AppData\Local\Temp\ipykernel_15840\1845236462.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  vehiculos_involucrados = pd.read_csv('../data/VEHICULOS_INVOLUCRADOS_EN_UN_ACCIDENTE_DE_TRANSITO_LEY_2251-2022_20251120.csv')

,MARCA_VEHICULO,MODELO_VEHICULO,TIPO_VEHICULO,EDAD_VEHICULO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,DEPARTAMENTO_ACCIDENTE,MUNICIPIO_ACCIDENTE,AUTORIDAD_DE_TRANSITO
0,VICTORY,2023,MOTOCICLETA,2.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
1,KIA,2025,AUTOMOVIL,1.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
2,FORD,2015,AUTOMOVIL,10.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
3,HYUNDAI,2007,AUTOMOVIL,19.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
4,VICTORY,2025,MOTOCICLETA,1.0,Dec 2024,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
...,...,...,...,...,...,...,...,...,...
365502,YAMAHA,2014,MOTOCICLETA,12.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365503,YAMAHA,2013,MOTOCICLETA,12.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365504,BAJAJ,2018,MOTOCICLETA,7.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365505,YAMAHA,2021,MOTOCICLETA,5.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA
365506,MAZDA,2010,CAMIONETA,15.0,Jan 2022,CON HERIDOS,SANTANDER,BUCARAMANGA,DIR TTOyTTE BUCARAMANGA

## Lesiones accidentes de transito

Es toda acción donde una persona causa algún tipo de daño o lesión corporal a otra
mediante la participación de cualquier vehículo (accidente de tránsito), se mide en víctimas.

In [51]:
lesiones_accidentes = pd.read_csv('../data/LESIONES_ACCIDENTES_DE_TRÁNSITO_20251120.csv')
lesiones_accidentes

       FECHA HECHO  COD_DEPTO  DEPARTAMENTO  COD_MUNI   MUNICIPIO  CANTIDAD
0       01/01/2003         52        NARIÑO     52001       PASTO         1
1       01/01/2003         52        NARIÑO     52001       PASTO         1
2       01/01/2003         52        NARIÑO     52001       PASTO         1
3       01/01/2003         52        NARIÑO     52001       PASTO         1
4       01/01/2003         52        NARIÑO     52001       PASTO         1
...            ...        ...           ...       ...         ...       ...
597354  31/10/2025         25  CUNDINAMARCA     25286       FUNZA         1
597355  31/10/2025         25  CUNDINAMARCA     25290  FUSAGASUGA         2
597356  31/10/2025         73        TOLIMA     73319       GUAMO         1
597357  31/10/2025         73        TOLIMA     73319       GUAMO         1
597358  31/10/2025          5     ANTIOQUIA      5001    MEDELLIN         1

[597359 rows x 6 columns]

## Homicidios accidente de tránsito Policía Nacional

En este conjunto de datos la ciudadanía puede encontrará información del delito de Homicidios en accidente de Tránsito desde el 01 de enero del año 2010 al 31 de mayo del año 2025.

In [52]:
homocidios_accidente = pd.read_csv('../data/Homicidios_accidente_de_tránsito_Policía_Nacional_20251120.csv')
homocidios_accidente

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,CAUCA,Cajibío,19130000,NO REPORTADO,13/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,TOLIMA,Herveo,73347000,NO REPORTADO,24/09/2018,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ANTIOQUIA,Bello,5088000,NO REPORTADO,28/05/2023,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAUCA,Santander de Quilichao,19698000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,GUAJIRA,Riohacha (CT),44001000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
...,...,...,...,...,...,...,...,...,...
88515,CESAR,Curumaní,20228000,VEHICULO,29/05/2025,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88516,BOYACÁ,Saboyá,15632000,VEHICULO,30/05/2025,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88517,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,07/04/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88518,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,06/04/2013,FEMENINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88519,VALLE,Cali (CT),76001000,VEHICULO,07/03/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

# Exploración de nuevos datos

## Vehículos involucrados en un accidente de transito ley 2251-2022

In [53]:
vehiculos_calarca = vehiculos_involucrados[vehiculos_involucrados['MUNICIPIO_ACCIDENTE'].str.contains('calarca', case=False, na=False)]

In [54]:
vehiculos_calarca

,MARCA_VEHICULO,MODELO_VEHICULO,TIPO_VEHICULO,EDAD_VEHICULO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,DEPARTAMENTO_ACCIDENTE,MUNICIPIO_ACCIDENTE,AUTORIDAD_DE_TRANSITO
2644,HYUNDAI,2018,MICROBUS,2.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,DIRECCION DE TTOYTTE POLICIA NACIONAL - DITRA
2757,CHEVROLET,2019,AUTOMOVIL,6.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
2758,CHEVROLET,1999,CAMPERO,26.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
2759,HONDA,2023,MOTOCICLETA,3.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
2760,NISSAN,2016,AUTOMOVIL,9.0,Dec 2024,CON MUERTOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
...,...,...,...,...,...,...,...,...,...
361913,TVS,2020,MOTOCICLETA,6.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
361914,KYMCO,2015,MOTOCICLETA,11.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362622,LIFAN,2009,AUTOMOVIL,16.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362623,FORD,2011,AUTOMOVIL,14.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362624,KIA,2016,AUTOMOVIL,10.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA

In [55]:
vehiculos_calarca[['FECHA_ACCIDENTE']].value_counts().sort_index()

FECHA_ACCIDENTE
Apr 2022           32
Apr 2023           14
Apr 2024           22
Apr 2025           11
Aug 2022           12
Aug 2023           28
Aug 2024           25
Dec 2022           20
Dec 2023           15
Dec 2024           10
Feb 2022           15
Feb 2023           18
Feb 2024           20
Feb 2025           25
Jan 2022           19
Jan 2023           24
Jan 2024           19
Jan 2025           22
Jul 2022           29
Jul 2023           16
Jul 2024           23
Jun 2022           36
Jun 2023           29
Jun 2024           23
Jun 2025            3
Mar 2022           26
Mar 2023           21
Mar 2024           37
Mar 2025           10
May 2022           17
May 2023           26
May 2024           37
Nov 2022           24
Nov 2023           30
Oct 2022           17
Oct 2023           21
Oct 2024            4
Sep 2022           42
Sep 2023           16
Sep 2024           30
Name: count, dtype: int64

In [56]:
vehiculos_calarca[['GRAVEDAD_ACCIDENTE']].value_counts().sort_index()

GRAVEDAD_ACCIDENTE
CON HERIDOS           817
CON MUERTOS            51
Name: count, dtype: int64

In [57]:
vehiculos_calarca[['MODELO_VEHICULO']].value_counts().sort_index()

MODELO_VEHICULO
1951                1
1954                2
1955                2
1959                1
1961                1
1965                1
1975                2
1976                1
1979                2
1980                4
1984                2
1986                1
1987                5
1988                1
1989                1
1991                1
1992                6
1993                5
1994                5
1995                9
1996                5
1997                6
1998               10
1999                5
2000                4
2001                1
2002                4
2003               12
2004               13
2005                6
2006               10
2007               30
2008               29
2009               28
2010               30
2011               32
2012               45
2013               56
2014               46
2015               36
2016               48
2017               39
2018               37
2019               50
2020               42
2021               48
2022               55
2023               50
2024               28
2025               10
Name: count, dtype: int64

In [58]:
vehiculos_calarca[['TIPO_VEHICULO']].value_counts().sort_index()

TIPO_VEHICULO
AUTOMOVIL        186
BUS               13
BUSETA             7
CAMION            39
CAMIONETA         72
CAMPERO           20
MICROBUS          10
MOTOCARRO          2
MOTOCICLETA      472
TRACTOCAMION      40
VOLQUETA           7
Name: count, dtype: int64

In [87]:
vehiculos_calarca[['EDAD_VEHICULO']].value_counts().sort_index()

EDAD_VEHICULO
0.0               1
1.0              13
2.0              22
3.0              49
4.0              49
                 ..
6                10
7                11
70                1
8                10
9                11
Name: count, Length: 76, dtype: int64

In [85]:
print(vehiculos_calarca[['EDAD_VEHICULO']].value_counts().sort_index().to_string())

EDAD_VEHICULO
0.0               1
1.0              13
2.0              22
3.0              49
4.0              49
5.0              30
6.0              38
7.0              34
8.0              29
9.0              37
10.0             27
11.0             37
12.0             37
13.0             46
14.0             26
15.0             23
16.0             17
17.0             22
18.0             27
19.0             14
20.0             10
21.0             11
22.0              9
23.0              5
24.0              3
25.0              4
26.0              2
27.0              8
28.0              5
30.0             12
31.0              3
32.0              6
33.0              5
34.0              1
37.0              2
38.0              3
39.0              1
41.0              2
43.0              1
45.0              4
64.0              1
66.0              1
71.0              1
74.0              1
1                 5
10                9
11                8
12                8
13               12
14               13
15               13
16                5
17                3
18                6
19                7
2                 8
20                3
21                2
22                3
23                2
25                1
26                2
27                2
28                1
3                 6
31                1
32                1
38                2
4                12
5                10
50                1
6                10
7                11
70                1
8                10
9                11

In [88]:
moto_ = vehiculos_calarca[vehiculos_calarca["TIPO_VEHICULO"] == 'MOTOCICLETA']
moto_

,MARCA_VEHICULO,MODELO_VEHICULO,TIPO_VEHICULO,EDAD_VEHICULO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,DEPARTAMENTO_ACCIDENTE,MUNICIPIO_ACCIDENTE,AUTORIDAD_DE_TRANSITO
2759,HONDA,2023,MOTOCICLETA,3.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
5154,YAMAHA,2018,MOTOCICLETA,8.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
5156,AKT,2014,MOTOCICLETA,12.0,Dec 2024,CON MUERTOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
5157,BAJAJ,2011,MOTOCICLETA,15.0,Dec 2024,CON MUERTOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
6359,AKT,2025,MOTOCICLETA,1.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,DIRECCION DE TTOYTTE POLICIA NACIONAL - DITRA
...,...,...,...,...,...,...,...,...,...
358579,ROYAL ENFIELD,2019,MOTOCICLETA,7.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
358581,AKT,2018,MOTOCICLETA,8.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
361912,SUZUKI,2012,MOTOCICLETA,13.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
361913,TVS,2020,MOTOCICLETA,6.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
361914,KYMCO,2015,MOTOCICLETA,11.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA

In [90]:
moto_["MARCA_VEHICULO"].value_counts()

MARCA_VEHICULO
AKT              116
YAMAHA            82
BAJAJ             78
HONDA             56
SUZUKI            54
TVS               20
HERO              16
KYMCO             15
VICTORY           14
BENELLI            4
AUTECO             3
SIGMA              2
AUTECO BAJAJ       2
KTM                2
SYM                2
JIALING            2
KAWASAKI           1
COMBAT             1
JINCHENG           1
ROYAL ENFIELD      1
Name: count, dtype: int64

In [91]:
carro = vehiculos_calarca[vehiculos_calarca["TIPO_VEHICULO"] == 'AUTOMOVIL']
carro

,MARCA_VEHICULO,MODELO_VEHICULO,TIPO_VEHICULO,EDAD_VEHICULO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,DEPARTAMENTO_ACCIDENTE,MUNICIPIO_ACCIDENTE,AUTORIDAD_DE_TRANSITO
2757,CHEVROLET,2019,AUTOMOVIL,6.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
2760,NISSAN,2016,AUTOMOVIL,9.0,Dec 2024,CON MUERTOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
5155,RENAULT,2007,AUTOMOVIL,18.0,Dec 2024,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
8410,CHEVROLET,2009,AUTOMOVIL,16.0,Dec 2023,CON HERIDOS,QUINDIO,CALARCA,DIRECCION DE TTOYTTE POLICIA NACIONAL - DITRA
10019,MAZDA,2003,AUTOMOVIL,22.0,Dec 2023,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
...,...,...,...,...,...,...,...,...,...
361235,CHEVROLET,2021,AUTOMOVIL,4.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
361239,MAZDA,2001,AUTOMOVIL,24.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362622,LIFAN,2009,AUTOMOVIL,16.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362623,FORD,2011,AUTOMOVIL,14.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA
362624,KIA,2016,AUTOMOVIL,10.0,Jan 2022,CON HERIDOS,QUINDIO,CALARCA,INSP TTOyTTE CALARCA

In [92]:
carro[['MARCA_VEHICULO']].value_counts().sort_index()

MARCA_VEHICULO
BMW                2
CHEVROLET         64
DAEWOO             1
DODGE              1
FIAT               1
FORD               5
HYUNDAI           10
KIA               11
LIFAN              1
MAZDA             28
MERCEDES BENZ      1
NISSAN             6
PEUGEOT            2
RENAULT           44
SEAT               1
SUZUKI             3
TOYOTA             1
VOLKSWAGEN         4
Name: count, dtype: int64

## Lesiones accidentes de transito

In [61]:
lesiones_accidentes

       FECHA HECHO  COD_DEPTO  DEPARTAMENTO  COD_MUNI   MUNICIPIO  CANTIDAD
0       01/01/2003         52        NARIÑO     52001       PASTO         1
1       01/01/2003         52        NARIÑO     52001       PASTO         1
2       01/01/2003         52        NARIÑO     52001       PASTO         1
3       01/01/2003         52        NARIÑO     52001       PASTO         1
4       01/01/2003         52        NARIÑO     52001       PASTO         1
...            ...        ...           ...       ...         ...       ...
597354  31/10/2025         25  CUNDINAMARCA     25286       FUNZA         1
597355  31/10/2025         25  CUNDINAMARCA     25290  FUSAGASUGA         2
597356  31/10/2025         73        TOLIMA     73319       GUAMO         1
597357  31/10/2025         73        TOLIMA     73319       GUAMO         1
597358  31/10/2025          5     ANTIOQUIA      5001    MEDELLIN         1

[597359 rows x 6 columns]

In [62]:
lesiones_calarca = lesiones_accidentes[lesiones_accidentes['MUNICIPIO'].str.contains('calarca', case=False, na=False)]
lesiones_calarca

       FECHA HECHO  COD_DEPTO DEPARTAMENTO  COD_MUNI MUNICIPIO  CANTIDAD
279     06/01/2003         63      QUINDIO     63130   CALARCA         1
280     06/01/2003         63      QUINDIO     63130   CALARCA         1
4160    20/04/2003         63      QUINDIO     63130   CALARCA         1
4161    20/04/2003         63      QUINDIO     63130   CALARCA         1
8792    20/08/2003         63      QUINDIO     63130   CALARCA         1
...            ...        ...          ...       ...       ...       ...
592315  21/09/2025         63      QUINDIO     63130   CALARCA         1
593242  28/09/2025         63      QUINDIO     63130   CALARCA         1
593455  29/09/2025         63      QUINDIO     63130   CALARCA         1
594656  08/10/2025         63      QUINDIO     63130   CALARCA         1
594870  10/10/2025         63      QUINDIO     63130   CALARCA         1

[1949 rows x 6 columns]

In [63]:
lesiones_calarca[['CANTIDAD']].value_counts().sort_index()

CANTIDAD
1           1703
2            157
3             50
4             17
5             10
6              3
7              4
8              1
16             2
20             1
21             1
Name: count, dtype: int64

## Homicidios accidente de tránsito Policía Nacional

In [64]:
homocidios_accidente

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,CAUCA,Cajibío,19130000,NO REPORTADO,13/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,TOLIMA,Herveo,73347000,NO REPORTADO,24/09/2018,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ANTIOQUIA,Bello,5088000,NO REPORTADO,28/05/2023,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAUCA,Santander de Quilichao,19698000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,GUAJIRA,Riohacha (CT),44001000,NO REPORTADO,15/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
...,...,...,...,...,...,...,...,...,...
88515,CESAR,Curumaní,20228000,VEHICULO,29/05/2025,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88516,BOYACÁ,Saboyá,15632000,VEHICULO,30/05/2025,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88517,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,07/04/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88518,CUNDINAMARCA,Bogotá D.C. (CT),11001000,VEHICULO,06/04/2013,FEMENINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88519,VALLE,Cali (CT),76001000,VEHICULO,07/03/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [65]:
homicidios_calarca = homocidios_accidente[homocidios_accidente['MUNICIPIO'].str.contains('calarca', case=False, na=False)]
homicidios_calarca

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
910,QUINDÍO,Calarca,63130000,NO REPORTADO,20/11/2018,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2152,QUINDÍO,Calarca,63130000,NO REPORTADO,06/07/2021,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2191,QUINDÍO,Calarca,63130000,NO REPORTADO,16/07/2021,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2201,QUINDÍO,Calarca,63130000,NO REPORTADO,19/07/2021,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3285,QUINDÍO,Calarca,63130000,NO REPORTADO,26/01/2022,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
...,...,...,...,...,...,...,...,...,...
87226,QUINDÍO,Calarca,63130000,VEHICULO,13/11/2012,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87604,QUINDÍO,Calarca,63130000,VEHICULO,16/01/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87637,QUINDÍO,Calarca,63130000,VEHICULO,06/01/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87918,QUINDÍO,Calarca,63130000,VEHICULO,15/02/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88472,QUINDÍO,Calarca,63130000,VEHICULO,04/04/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [66]:
homicidios_calarca_ = homicidios_calarca[homicidios_calarca['ARMAS MEDIOS'].str.contains('VEHICULO', case=False, na=False)]

In [67]:
homicidios_calarca_

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
45230,QUINDÍO,Calarca,63130000,VEHICULO,06/07/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
45992,QUINDÍO,Calarca,63130000,VEHICULO,20/11/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
46947,QUINDÍO,Calarca,63130000,VEHICULO,02/12/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
47137,QUINDÍO,Calarca,63130000,VEHICULO,12/01/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
47405,QUINDÍO,Calarca,63130000,VEHICULO,10/02/2014,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
...,...,...,...,...,...,...,...,...,...
87226,QUINDÍO,Calarca,63130000,VEHICULO,13/11/2012,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87604,QUINDÍO,Calarca,63130000,VEHICULO,16/01/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87637,QUINDÍO,Calarca,63130000,VEHICULO,06/01/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
87918,QUINDÍO,Calarca,63130000,VEHICULO,15/02/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
88472,QUINDÍO,Calarca,63130000,VEHICULO,04/04/2013,MASCULINO,NO REPORTADO,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [68]:
homicidios_calarca_[['GENERO']].value_counts().sort_index()

GENERO
FEMENINO      33
MASCULINO    131
Name: count, dtype: int64

In [69]:
## Lesiones accidentes de transito