In [72]:
import pandas as pd
import numpy as np

In [12]:
accidentes = pd.read_csv('../data/ACCIDENTES_DE_TRANSITO_DESDE_MARZO__2017_A_DICIEMBRE_DE_2022_20251120.csv')
sectores_criticos = pd.read_csv('../data/Sectores_críticos_mortalidad_2022_20251120.csv')
vehiculos_matriculados = pd.read_csv('../data/Vehículos_matriculados_desde_enero_de_2020_hasta_mayo_del_2022_por_clase,_modelo_y_tipo_de_vehículo_20251120.csv')

vehiculos_matriculados.dtypes

ORDEN                          int64
CLASE                         object
MARCA                         object
MODELO                         int64
FECHA MATRICULA/RADICACION    object
AÑO                            int64
MES                           object
DIA                           object
dtype: object

In [11]:
accidentes.dtypes

ORDEN        int64
IPAT        object
FECHA       object
AÑO          int64
MES          int64
DIA         object
GRAVEDAD    object
dtype: object

In [9]:
sectores_criticos.dtypes

ActorVial      object
Prioridad       int64
COD            object
CONCESION      object
CORREDOR       object
ENTIDAD        object
IDPROY         object
ID_MT          object
CodVia         object
CodPRi          int64
CodPRf          int64
CodSegPRi      object
CodSegPRf      object
PasoUrbano      int64
Xi            float64
Yi            float64
Xf            float64
Yf            float64
Shape_Leng     object
dtype: object

## Calidad de datos de los accidentes

In [21]:
# ORDEN = número del registro
accidentes.head(5)

   ORDEN        IPAT                    FECHA   AÑO  MES     DIA     GRAVEDAD
0      1  A000057026  2017-03-16T00:00:00.000  2017    3  jueves  CON HERIDOS
1      2  A000057029  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
2      3  A000057030  2017-03-14T00:00:00.000  2017    3  martes  CON HERIDOS
3      4  A000057022  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS
4      5  A000056976  2017-03-14T00:00:00.000  2017    3  martes   SOLO DAÑOS

In [42]:
accidentes[['GRAVEDAD']].value_counts()

GRAVEDAD
CON HERIDOS    994
SOLO DAÑOS     682
CON MUERTOS     48
Name: count, dtype: int64

In [34]:
accidentes['MES'].min(), accidentes['MES'].max()

(1, 12)

In [48]:
accidentes[['AÑO']].value_counts().sort_index()

AÑO
2017    263
2018    418
2019    298
2020    228
2021    290
2022    227
Name: count, dtype: int64

In [37]:
# ¿Personas que toman los datos trabajan entre semana? ¿Poca accidentalidad los días Sábado y Domingo?
accidentes[['DIA']].value_counts()

DIA
lunes        391
miércoles    381
martes       350
jueves       312
viernes      267
sábado        23
Name: count, dtype: int64

In [47]:
accidentes[['MES']].value_counts().sort_index()

MES
1      134
2      202
3      127
4      119
5      211
6       83
7      115
8      162
9      274
10      89
11     147
12      61
Name: count, dtype: int64

## Calidad de datos de los sectores criticos

In [13]:
sectores_criticos.head(3)

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
0,Moto,1,"34,896",IP - Nueva Malla Vial del Valle del Cauca,Yumbo - Yotoco - Buga,ANI,"1,100",5G001,2301,11,12,230111,230112,1,-76.486357,3.579063,-76.485908,3.576157,330.437366113
1,Moto,2,"35,613",IP - Nueva Malla Vial del Valle del Cauca,Santander de Quilichao-Candelaria,ANI,5,5G001,2504A,35,36,2504A35,2504A36,1,-76.349779,3.415557,-76.351012,3.410509,587.579050898
2,Moto,3,"19,085",NaN,El Hatillo - Girardota - Copacabana - Bello - ...,DEPTO,"1,218",0,NaN,0,0,NaN,NaN,1,-75.525581,6.345254,-75.526520,6.345046,107.078456507

In [73]:
filtro = sectores_criticos['CORREDOR'].str.contains('Calarcá').replace(to_replace={np.nan: False})
sectores_criticos[filtro]

C:\Users\javier\AppData\Local\Temp\ipykernel_12080\1517550538.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtro = sectores_criticos['CORREDOR'].str.contains('Calarcá').replace(to_replace={np.nan: False})

,ActorVial,Prioridad,COD,CONCESION,CORREDOR,ENTIDAD,IDPROY,ID_MT,CodVia,CodPRi,CodPRf,CodSegPRi,CodSegPRf,PasoUrbano,Xi,Yi,Xf,Yf,Shape_Leng
41,Moto,42,"31,208",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,37,38,400237,400238,1,-75.792626,4.455951,-75.800047,4.452158,952.489973787
203,Peaton,54,"31,610",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,40TLC,5,6,40TLC5,40TLC6,0,-75.220274,4.424155,-75.211595,4.424079,993.3754268
353,Todos,104,"31,533",IP – GIC,Calarcá - Ibagué,ANI,63,4G011,4003,49,50,400349,400350,1,-75.433417,4.438846,-75.425256,4.441638,"1,006.00999989"
593,Vehiculo,47,"31,815",Armenia -Pereira - Manizales,La Paila - Calarcá,ANI,62,1G010,4002,5,6,40025,40026,0,-76.022035,4.353366,-76.030509,4.352049,991.598406076

## Calidad de datos de los vehiculos matriculados

In [14]:
vehiculos_matriculados.head(3)

,ORDEN,CLASE,MARCA,MODELO,FECHA MATRICULA/RADICACION,AÑO,MES,DIA
0,1,MOTOCICLETA,YAMAHA,2000,02/02/2000,2000,02.febrero,02.miércoles
1,2,MOTOCICLETA,SUZUKI,2000,23/02/2000,2000,02.febrero,23.miércoles
2,3,MOTOCICLETA,AUTECO KAWASAKI,2000,25/09/2000,2000,09.septiembre,25.lunes